.score{
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    &__wrapper{
        position: relative;
    }
    p{
        display: inline-block;
        margin: 0 5px;
        padding: 8px;
        border-radius: 7px;
        font-size: 1rem;
        letter-spacing: 2px;
        width: 140px;
        text-align: center;
        transition: all .5s ease;
    }
    &__blue{
        background-color: #88abbb;
    }
    &__red{
        background-color: #cfa78f;
    }
    
    .active-red &__red{
        background-color: #da7a3e;
    }
    .active-blue &__blue{
        background-color: #2aa7e0;
    }
}

.active-red .score__red, .active-blue .score__blue{
    transform: scale(1.1);
    box-shadow: 1px 1px 7px black;
}

.score__slider{
    position: fixed;
    top: 0;
    left: calc(50% - 250px);
    z-index: -3;
    height: 100vh;
    width: 500px;
    transition: all 2s ease;
    border-left: 2px solid $black;
    border-right: 2px solid $black;
    &.active-red{
        background: #ffe2d0;
        transform: translateX(-90%);
    }
    &.active-blue{
        background: #caf4ff;
        transform: translateX(90%);
    }
}
