.title{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    &__text{
        text-align: center;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 40px;
        color: #889c17;
        margin: 35px 0 0 20px;
        text-shadow: 2px 2px 20px #66700c;
    }
    &__block{
        transition: all .8s ease;
        padding: 5px 10px;
        border: 2px solid transparent;
        margin: 0 30px;
        text-align: center;
        p{
            font-size: 1.7rem;
            color: #860065;
            margin-bottom: 10px;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-shadow: 1px 1px 10px #832596;
        }
    }
    &_blue .title__blue{
        border: 2px solid #4400ff;
        box-shadow: -5px 0 15px $border4 inset, 0 5px 15px $border4 inset, 5px 0 15px $border4 inset, 0 -5px 15px $border4 inset;
    }
    &_purple .title__purple{
        border: 2px solid #a200ff;
        box-shadow: -5px 0 15px $border2 inset, 0 5px 15px $border2 inset, 5px 0 15px $border2 inset, 0 -5px 15px $border2 inset;
    }
    &__score{
        font-size: 3.2rem;
        color: $fontBlue;
        font-size: 3rem;
        margin: 0 15px;
        text-transform: uppercase;
        text-shadow: 3px 3px 60px rgb(166, 145, 243);
    }
}