@import './letterInput.scss';
@import './usedLetters.scss';
@import './info.scss';
.organaizer{
    display: flex;
    justify-content: space-between;
    &__side{
        padding: 45px 100px 0;
        flex: 1;
    }
}