$border: #94338f;
$border2: #5634a78e;
$border3: #3436a746;
$border4: #1f1f9496;
$fontPink: #d88dc8;
$fontBlue: #8d8ed8;
$yellowish:#535a13;

.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}